* {
  padding:0;
  margin:0;
}
.App {
  background-color: rgb(31, 31, 31);
  text-align: center;
  display: flex;
  justify-content: center;
  width:100vw;
  height:100vh;
}

.calc-container {
  background-color: rgb(206, 206, 206);
  width: 680px;
  height: 500px;
  align-self: center;
  padding:18px;
}

.screen-container {
  background-color: rgb(238, 238, 238);
  height: 15%;
  display: flex;
  justify-content: center;
}

.screen-text {
  width:90%;
  margin: 10px;
  font-size: 40pt;
  text-align: right;
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

}
.button-digit{
  background-color: black;
  color: white;
  font-size: 20pt;
  width:160px;
  height: 80px;
  margin: 5px;
  margin-top:15px;
}
.button-arithmatic{
  background-color: rgb(94, 89, 89);
  color: white;
  font-size: 20pt;
  width:160px;
  height: 80px;
  margin: 5px;
  margin-top:15px;
}